<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
</head>
<body>
<!-- 말머리 지정 -->
<select>
    <option value="subject1">명소</option>
    <option value="subject2">맛집</option>
    <option value="subject3">숙소</option>
</select>
</body>
</html>